
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"> 
<head> 
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
<title>Labs | New post | Orion administration</title> 
<link type="text/css" rel="stylesheet" href="css/main.style.css" /> 
</head> 
 
<body> 
	<div id="wrapper" class="hsprite"> 
		<div id="header"><h1 class='title'>Orion administration</h1></div> 
        <div id="main" class="main-col">
			<div class="vmenu col">
				<ul>
					<li>Item1</li>
					<li>Item2</li>
					<li>Item3</li>
				</ul>
			</div>
			<div class="content col"> 
                
 
<div class="flash "> 
    
</div> 
<div class="form">
<h2>New post</h2>
<form name="form_post" method="post" action="http://bkcreation.info/dev/labs.a/do"> 
<input type="hidden" name="id" value=""> 
<label for="title">Title</label><input name="title" type="text" class="form-text" value=""> 
<label for="url">URL tag</label><input name="url" type="text" class="form-text" value=""> 
<label for="tags">Tags</label><input name="tags" type="text" class="form-text" value=""> 
<label for="date">Date</label><input name="date" type="text" class="form-text" value=""> 
<label for="category">Category</label><input name="category" type="text" class="form-text" value=""> 
<label for="intro">Introduction</label><textarea name="intro" class="form-textarea"></textarea> 
<label for="content">Content</label><textarea name="content" class="form-textarea"></textarea> 
<input type="hidden" name="action" value="post_new"> 
</form> 
</div> 
 
 
			</div> 
        </div> 
    </div> 
</body> 
</html>