
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"> 
<head> 
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
<title>Labs | New post | Orion administration</title> 
<link type="text/css" rel="stylesheet" href="css/main.style.css" /> 
</head> 
 
<body> 
	<div id="wrapper" class="hsprite"> 
		<div id="header"><h1 class='title'>Orion administration</h1></div> 
        <div id="main">
				<div class="vmenu col">
					<div class="logo">Orion</div>
					<ul>
						<li><a href="#">Edit home page</a></li>
						<li><a class="active" href="#">Edit about page</a></li>
						<li><a href="#">Manage labs</a></li>
						<li><a href="#">Manage portfolio</a></li>
						<li><a href="#">Manage users</a></li>
					</ul>
				</div>
				<div class="content col"> 
					
	 
	<div class="flash info">
		This is a sample message.
	</div>

    <div class="flash warning">
		This is a sample message.
	</div>

    <div class="flash error">
		This is a sample message.
	</div> 
	<div class="form">
	<h2>New post</h2>
		<form name="form_post" method="post" action="http://bkcreation.info/dev/labs.a/do"> 
			<input type="hidden" name="id" value="" /> 
			<label for="title">Title</label><input name="title" type="text" class="form-text" value="" /> 
			<label for="url">Url tag</label><input name="url" type="text" class="form-text" value="" /> 
			<label for="tags">Tags</label><input name="tags" type="text" class="form-text" value="" /> 
			<label for="date">Date</label><input name="date" type="text" class="form-text" value="" /> 
			<label for="category">Category</label><select name="category"> 
			<option value="1">Blog</option> 
			<option value="2">Spotlight</option> 
			</select> 
			<label for="intro">Introduction</label><textarea name="intro" class="form-textarea"></textarea> 
			<label for="content">Content</label><textarea name="content" class="form-textarea"></textarea> 
			<input type="hidden" name="action" value="post_new" /> 
			<input type="submit" class="form-submit" name="submit" value="Create" /> 
		</form>
	</div> 
	 
	 
				</div> 
			</div>
		
    </div> 
</body> 
</html>