/* CSS Document */

/*********************************************************************** MAIN */
html,
body
{
    min-height: 100%;
	margin: 0;
	padding: 0;
	font-size: 14px;
	font-family: "Tahoma", "Arial", sans-serif;
	color: #444;
	background-color: #e2e2e2;
}
h1, h2, h3, h4, h5
{
	font-family: "Bookman Old Style", serif;
	margin: 0;
	padding: 10px 0 10px 0;

			text-shadow: 0px 1px 1px #fff;
	   -moz-text-shadow: 0px 1px 1px #fff;
	-webkit-text-shadow: 0px 1px 1px #fff;
	     -o-text-shadow: 0px 1px 1px #fff;
	    -ms-text-shadow: 0px 1px 1px #fff;
}
a,
a:link,
a:active
{
	color: #20529e;
	text-decoration: none;
}
a:hover,
a:focus
{
	color: #999;
}
#header
{
	background-image: url("images/form.sprite.png");
	background-repeat: repeat-x;
	background-color: #e1e1e1;
	background-position: 0px -66px;
	padding-top: 30px;
}
#header-top
{
	background-color: #e1e1e1;
}
#header-logo
{
	margin: 0;
	padding: 0;
	padding-bottom: 25px;
	float: left;
	
	font-family: "Bookman Old Style", serif;
	font-size: 1.8em;
	font-weight: bold;
	color: #999;
	
			text-shadow: 0px 1px 1px #fff;
	   -moz-text-shadow: 0px 1px 1px #fff;
	-webkit-text-shadow: 0px 1px 1px #fff;
	     -o-text-shadow: 0px 1px 1px #fff;
	    -ms-text-shadow: 0px 1px 1px #fff;
}
#header-nav
{
	float: right;
	padding-top: 5px;
}
#header-menu,
#header-submenu
{
	background-image: url("images/form.sprite.png");
	background-repeat: repeat-x;
	background-color: #e2e2e2;
	background-position: 0px 0px;
	border-top: 1px solid #fff;

    font-family: "Bookman Old Style", serif;
	font-size: 1.2em;
	font-weight: bold;
	color: #aaa;
    
			text-shadow: 0px 1px 1px #fff;
	   -moz-text-shadow: 0px 1px 1px #fff;
	-webkit-text-shadow: 0px 1px 1px #fff;
	     -o-text-shadow: 0px 1px 1px #fff;
	    -ms-text-shadow: 0px 1px 1px #fff;
}
#header-submenu
{
    font-size: 1.1em;
	color: #bbb;
}
#header-menu a,
#header-menu a:link,
#header-menu a:active,
#header-submenu a,
#header-submenu a:link,
#header-submenu a:active
{
	display: inline-block;
	padding: 10px 0px 10px 0;
	margin: 0 10px 0 10px;
	color: inherit;
	text-decoration: none;
}
#header-menu a:hover,
#header-menu a:focus,
#header-submenu a:hover,
#header-submenu a:focus
{
	color: #20529e;
}
#header-menu a.active,
#header-menu a.active:link,
#header-menu a.active:active
{
	color: #20529e;
	border-bottom: 3px solid #ccc;
	padding-bottom: 7px;
}
#global
{
	background-image: url("images/form.sprite.png");
	background-repeat: repeat-x;
	background-color: #e2e2e2;
	background-position: 0px 0px;	
	padding-top: 45px;
}
#main
{
	background-color: #e2e2e2;
	min-height: 500px;
    padding-bottom: 20px;
}
.global-container
{
	max-width: 1200px;
	margin: auto;
	padding-left: 10px;
	padding-right: 10px;
}
#footer
{
	background-image: url("images/form.sprite.png");
	background-repeat: repeat-x;
	background-color: #e1e1e1;
	background-position: 0px -66px;
	padding: 16px;
	
	color: #999;
	text-align: center;
}

/******************************************************************** SPECIAL */
.clearfix
{
    content: ".";
    text-indent: -10000px;
    float: none;
    clear: both;
}
.flash
{
	text-align: center;
	font-weight: bold;	
	min-height: 5px;
	background: #295fa2;	
	background: -webkit-gradient(linear, left top, left bottom, from(#295fa2), to(#274c7a));
	background: -moz-linear-gradient(top, #295fa2, #274c7a);
	background: -o-linear-gradient(top, #295fa2, #274c7a);
}
.flash.error
{
	padding: 10px;
	color: #fff;
	background: #a22929;	
	background: -webkit-gradient(linear, left top, left bottom, from(#a22929), to(#522525));
	background: -moz-linear-gradient(top, #a22929, #522525);
	background: -o-linear-gradient(top, #a22929, #522525);
}
.flash.info
{
	padding: 10px;
	color: #fff;
	background: #51a229;	
	background: -webkit-gradient(linear, left top, left bottom, from(#51a229), to(#255226));
	background: -moz-linear-gradient(top, #51a229, #255226);
	background: -o-linear-gradient(top, #51a229, #255226);
}
/********************************************************************* TABLES */
.datatable
{
	border: 1px solid #bdbdbd;
	background-color: #dbdbdb;
	padding: 6px;
	margin-bottom: 10px;
	
            border-radius: 5px;
       -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
         -o-border-radius: 5px;
        -ms-border-radius: 5px;
}
.dataheader
{
	font-family: "Bookman Old Style", serif;
	font-size: 1.2em;
	font-weight: bold;	
	color: #20529e;
	padding: 4px 0 10px 10px;	
	
			text-shadow: 0px 1px 1px #fff;
	   -moz-text-shadow: 0px 1px 1px #fff;
	-webkit-text-shadow: 0px 1px 1px #fff;
	     -o-text-shadow: 0px 1px 1px #fff;
	    -ms-text-shadow: 0px 1px 1px #fff;
}
.datatable table
{
	width: 100%;

	border: 1px solid #bdbdbd;
	background-color: #e2e2e2;
	border-spacing: 0px;
	
            border-radius: 2px;
       -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
         -o-border-radius: 2px;
        -ms-border-radius: 2px;
}
.datatable table th
{
	background-image: url("images/form.sprite.png");
	background-repeat: repeat-x;
	background-color: #e2e2e2;
	background-position: 0px 0px;
	padding: 10px;
	text-align: left;
	border-bottom: 1px solid #bdbdbd;
}
.datatable table tr
{
	background-color: #ebebeb;
}
.datatable table tr.odd
{
	background-color: #e2e2e2;
}
.datatable table tr td
{
	padding: 8px;
}
.datatable table tr:hover
{
	background-color: #f2f2f2;
}
.datatable .actions
{
	width: auto;
}
.datatable .action,
.datatable .databutton
{
	display: inline-block;
	outline: none;
	
	background-image: url("images/form.sprite.png");
	background-repeat: no-repeat;
	background-color: #fff;
	background-position: 0px -132px;
	
	
	border: 1px solid #999;
				border-radius: 4px;
		   -moz-border-radius: 4px;
		-webkit-border-radius: 4px;
	margin-top: 1px;
	margin-left: 1px;
	cursor: pointer;

	padding: 4px 8px 4px 8px;
	margin: 1px;
	
	background-position: 0px 0px;
	
	text-decoration: none;
	color: #20529e;
}
.datatable .action:hover,
.datatable .action:focus,
.datatable .databutton:hover,
.datatable .databutton:focus
{
	margin: 0px;
	border: 2px solid #20529e;
	color: #444;
	outline: none;
}
.datatable .action:active,
.datatable .databutton:active
{
	background-position: 0px -66px;
}
.datatable .datalinks
{
	text-align: right;
	padding-top: 6px;
}
.datatable .datalinks .next,
.datatable .datalinks .previous
{
    float: left;
}

/*********************************************************************** FORM */
.form
{
	border: 1px solid #bdbdbd;
	background-color: #dbdbdb;
	padding: 6px;
	margin-bottom: 10px;
	
	
            border-radius: 5px;
       -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
         -o-border-radius: 5px;
        -ms-border-radius: 5px;
}
.form form
{
	display: block;
	border: 1px solid #bdbdbd;
	background-color: #e2e2e2;
	
            border-radius: 2px;
       -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
         -o-border-radius: 2px;
        -ms-border-radius: 2px;
		overflow: hidden;
}
.form-row
{
	width: 100%;
	clear: both;
	float: left;
	border-top-color: white;
	border-bottom-color: #E7E7E7;
	background: -webkit-gradient(linear, left top, left bottom, from(#efefef), to(#e2e2e2));
	background: -moz-linear-gradient(top, #efefef, #e2e2e2);
	background: -o-linear-gradient(top, #efefef, #e2e2e2);
}
.form-container
{
	float: right;
	width: 81%;
	margin: 0;
	padding: 10px;
}
label,
.form .label,
.form-label
{
	float: left;
	width: 14%;
	
	height: 28px;
	padding: 22px 0 10px 20px;
	font-size: 14px;
	font-weight: bold;
	
	text-align: left;
}
select.form-element
{
	width: 100% !important;
}
.form-text,
.form-textarea,
.form-button,
.form-element
{
	padding: 10px;
	margin: 0;
	outline: none;
	width: 97%;
	float: left;
	display: block;
	
	font-family: inherit;
	
	background-image: url("images/form.sprite.png");
	background-repeat: no-repeat;
	background-color: #fff;
	background-position: 0px -132px;
	
	
	border: 1px solid #999;
				border-radius: 4px;
		   -moz-border-radius: 4px;
		-webkit-border-radius: 4px;
	margin-top: 1px;
	margin-left: 1px;
	margin-bottom: 1px;
	outline: none;
}

.form-text:focus,
.form-textarea:focus,
.form-button:focus,
.form-element:focus
{
	margin-top: 0px;
	margin-left: 0px;
	margin-bottom: 0px;
	border: 2px solid #20529e;
	outline: none;
}
.form-message
{
    padding-top: 10px;
}
.form-button
{
	cursor: pointer;

	padding-left: 20px;
	padding-right: 20px;
	
	width: auto !important;
	
	background-position: 0px 0px;
	background-repeat: repeat-x;
}
.form-button:hover
{
	margin-top: 0px;
	margin-left: 0px;
	margin-bottom: 0px;
	border: 2px solid #20529e;
}
.form-button:active
{
	border: 2px solid #20529e;
	background-position: 0px -66px;
}
.form-row .form-button
{
	margin: 10px;
	float: right;
}
.form-row .form-button:hover
{
	margin: 9px;
}
.form-textarea
{
	min-width: 200px;
	min-height: 200px;
}
.form-checkbox
{
	margin: 0; padding: 0;
}