@charset "utf-8";
/* CSS Document */

/* STD RESET */
body{line-height:1;font:14px 'Trebushet MS',Arial,'Liberation Sans',FreeSans,sans-serif;font-family:"trebuchet MS",sans-serif;font-size:14px;color:#444;height:100%;}
input{font:14px 'Trebushet MS',Arial,'Liberation Sans',FreeSans,sans-serif;font-family:"trebuchet MS",sans-serif;font-size:14px;color:#444;}
ol,ul{list-style:none;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:none;}
:focus{outline:0;}
del{text-decoration:line-through;}
table{border-collapse:collapse;border-spacing:0;}
html,body{height: 100%; margin:0; padding:0;}
h1,h2,h3{margin:0; padding: 0;}
/* END STD RESET */

/* CUSTOM FONTS */
@font-face
{
    font-family: comfortaa;
    src: url('comfortaa.eot');
    src: local(comfortaa), url('comfortaa.ttf') format('opentype');
}
/* END CUSTOM FONTS */

/* SPRITES */
.hsprite
{
	background-image: url(sprite.rx.png);
	background-repeat: repeat-x;
	background-position: 0px 60px;
}
.sprite
{
	background-image: url(sprite.png);
	background-position: 0px 60px;
}
/* END SPRITES */

/* TEXT STYLES */
.textindent
{
	text-indent: -10000px;	
}
/* END TEXT STYLES */

/* COMPONENTS */
input
{
	background-image: url(sprite.rx.png);
	background-repeat: repeat-x;
	border: 1px solid #999999;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	height: 22px;
	background-position: 0px 0px;
	font-size: 14px;
	font-weight: bold;
}
input:focus, input:active
{
	border: 1px solid #999;
	background-position: 0px -18px;
}
textarea
{
	background-image: url(sprite.rx.png);
	background-repeat: repeat-x;
	border: 1px solid #999999;
	padding-left: 10px;
	padding-right: 10px;
	height: 200px;
	background-position: 0px -504px;
	font-size: 14px;
	font-weight: bold;
	font-family: inherit;
	color: inherit;
	background-color: #c7d0d9;
}
textarea:focus, textarea:active
{
	border: 1px solid #999;
	background-color: #c7d0d9;
}
select
{
	background-color: #c7d0d9;
	border: 1px solid #999999;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	height: 30px;
	font-size: 14px;
	font-weight: bold;
	color: inherit;
}
select option
{
	background-color: #c7d0d9;
	border: 1px solid #999999;
	line-height: 30px;
	height: 30px;
	display: block;
	font-size: 14px;
	font-weight: bold;
	color: inherit;
}
label
{
	display: block;
	padding-top: 6px;
	font-variant: small-caps;
	font-weight: bold;
}
.fleft
{
	display: block;
	float: left;
}
.thumb
{
	background-color: #f3f3f3;
	border: 1px solid #999999;
	padding: 9px;
}
/* END COMPONENTS */

/* PAGE-SPECIFIC */
.col
{
	display:table-cell;
	margin:0;
	padding:0;
}
.vmenu
{
	width: 200px;
	background: #ddd;
}
.vmenu ul
{
	width: 200px;
	padding: 0;
	margin: 0;
	border-top: 1px solid #bbb;
}
.vmenu ul li
{
	display: block;
	text-align: left;
	padding: 0;
	margin: 0;
}
.vmenu ul li a, .vmenu ul li a:link, .vmenu ul li a:active
{
	background: none;
	display: block;
	padding: 10px;
	padding-left: 20px;
	text-decoration: none;
	color: inherit;
	font-weight: bold;
	border-bottom: 1px solid #bbb;
}
.vmenu ul li a:hover, .vmenu ul li a:focus
{
	background-image: url(sprite.rx.png);
	background-repeat: repeat-x;
	background-position: 0px -50px;
	border-bottom: 1px solid #fff;
}
.vmenu ul li a.active, .vmenu ul li a.active:link, .vmenu ul li a.active:active
{
	background: #f3f3f3;
	border-bottom: 1px solid #bbb;
	cursor: default;
}
.vmenu ul li a.active:hover, .vmenu ul li a.active:focus
{
	background: #f3f3f3;
	border-bottom: 1px solid #bbb;
}
ul.submenu
{
    border: none;
    border-bottom: 1px solid #bbb;
    background: #ccc;
    list-style-type: square;
}
ul.submenu li a, ul.submenu li a:link, ul.submenu li a:active
{
	background: none;
	display: block;
	padding: 2px;
	padding-left: 36px;
	text-decoration: none;
	color: inherit;
	font-weight: normal;
    border: none;
}
ul.submenu li a:hover, ul.submenu li a:focus
{
    background: #ddd;
	border: none;
}
.logo
{
	height: 150px;
	text-align: center;
}
.content
{
	background-color: #f3f3f3;
	border-left: 1px solid #999999;
	width: 600px;
	padding: 0;
	text-align: left;
	padding-bottom: 10px;
}
.content h1, .content h2
{
	text-align: center;
}
.form input, .form textarea, .form label
{
	width: 557px;
	margin-left: 10px;
}
.form select
{
	width: 579px;
	margin-left: 10px;

}
.form input.form-submit
{
	margin-top: 10px;
	width: 579px;
	height: 34px;
}
.flash
{
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
	font-weight: bold;
}
.flash.info
{
    background-color: #cfe3b2;
    border-top: 1px solid #809a6f;
    border-bottom: 1px solid #809a6f;
    color: #2d4d00;
}
.flash.warning
{
    background-color: #edecb8;
    border-top: 1px solid #968b6d;
    border-bottom: 1px solid #968b6d;
    color: #4d3500;
}
.flash.error
{
    background-color: #e8c4c4;
    border-top: 1px solid #987575;
    border-bottom: 1px solid #987575;
    color: #620000;
}
/* END PAGE-SPECIFIC */

/* LAYOUT */
body
{
	background-color: #c7d0d9;
}
#wrapper
{
	background-position: 0px -470px;
	min-height: 570px;
	width: auto;
}
#header
{
	height: 34px;
	width: auto;
	margin: auto;
}
#header .title
{
	color: #333333;
	font-weight: bold;
	font-size: 27px;
	font-family: comfortaa;
	text-shadow: 0px 1px 1px #ababab;
	text-align: center;
}
/* HEADER */
/* END HEADER */
/* PAGE */
#main 
{
	width: 800px;
	margin: auto;
	margin-top: 10px;
	background-color: #f3f3f3;
	border: 1px solid #999999;
}
#content
{
	
}
/* END PAGE */
/* END LAYOUT */